.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 4rem;
}

.text-input {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    height: 24px;
    font-size: 24px;
    width: 100%;
    padding: 10px
}

.text-area {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 10px;
    resize: none;
}

.label {
    font-size: 24px;
    margin-right: 1rem;
}

.form-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px
}

.content-entry {
    display: flex;
    flex-direction: column;
    margin: 1rem
}

button {
    align-self: center;
    width:25%;
}
