.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 3rem;
    background-color: var(--alabaster);
}

.text-area {
    background-color: var(--white);
    color: var(--black);
    border: none;
    margin: 1rem;
    padding: 10px;
    resize: none;
}

.label {
    font-weight: 400;
    font-size: 24px;
    margin-right: 1rem;
}

.form-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px
}

.content-entry {
    display: flex;
    flex-direction: column;
    margin: 1rem
}

button {
    align-self: center;
    width:25%;
}
