.post-title {
    text-align: center;
    margin: 0;
}

.post-author {
    color: var(--alabaster);
    text-align: center;
    margin: 1rem 0;
}

.post-container {
    display: flex;
    flex-direction: column;
}

.post-content {
    background-color: var(--white);
    padding: 1rem;
    margin: 3rem 8rem 0 8rem;
    border-radius: 10px;
}

.title-container {
    padding: 3rem 3rem 0 3rem;
    width: auto;
    background-color: var(--terracota);
    color: var(--white);
}