.search-action {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    color: var(--terracota);
    cursor: pointer;
  }

  .search-action div {
    margin-left: 0.25rem;
  }