.summary-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-circle-button {
    position: absolute;
    cursor: pointer;
    color: var(--terracota);
    font-size: 56px;
    left:3rem;
}